<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet">
    <title>Blog Web App</title>
</head>

<body class="bg-gray-50">
    <header class="md:w-4/5 mx-auto flex items-center justify-between p-6 bg-white text-white shadow-md rounded md:mt-6 mb-6">
        <div class="flex-grow text-center">
            <h1 class="text-3xl font-bold text-black"><a href="/">Personal Blog</a></h1>
        </div>
            <nav>
                <button class="bg-teal-600  p-2 rounded font-bold text-white"><a href="/create">New Post</a></button>
            </nav>
    </header>
    
</body>
</html>